<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Registration Form</title>
</head>
<body>
    <h2>Registration Form</h2>
    <form method="POST" class="register">
        <!-- getting date from backend -->
        <!-- Cross Site Request Forgery -->
        {%csrf_token%} 
        <!-- form to be in paragraph -->
        {{form.as_p}}
        <!-- Adding a button -->
        <button type="submit" class="btn">Save</button>
    </form>
</body>
</html>